---
name: Release docker image
on:
  workflow_dispatch:
   
jobs:
  release:
    uses: PeeR-CESI/pipeline-templates/.github/workflows/docker-release-app.yaml@main
    with:
      workingdir: .
      img-name: test
      cache-registry: docker.io/xpapaya
      registry-url: docker.io
      registry-username: ${{ vars.DOCKER_HUB_USER }}
      prerelease: "false"
    secrets:
      git-token: ${{ secrets.PAT }}
      registry-password: ${{ secrets.DOCKER_HUB_TOKEN }}